html, body {
  background:#282828;
  font-family: "Fira Code";
  color: #EADBB2;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 460px 600px 1fr;
  grid-template-areas:
    ". left right .";
  column-gap: 80px;
  justify-items: center;
  align-items: center;
  min-height: 100%;
}

.left-container {
  grid-area: left;
  aspect-ratio: 1/1;
}

.right-container {
  grid-area: right;
  height: 50%;
  width: 100%;
  /* border: 1px solid white; */
}

.gif img {
  max-width: 100%;
  max-height: 100%;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  padding-top: 60px;
}

.category {
  display: flex;
  flex-direction: column;
  width: 180px;
}

.bookmarks {
  display: flex;
  justify-content: center;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.title {
  font-size: 20px;
}

li {
  font-size: 16px;
  list-style-type: none;
  padding: 5px
}

a:link {
  text-decoration: none;
  color: #8F9191;
}

a:visited {
  color: #668F8B;
}

a:hover {
  color: #FA7921;
}

.blinking {
  animation: opacity 1s ease-in-out infinite;
  opacity: 1;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
